Repository blinovapolina/what_to_watch, pull requests merged in 2025-05, with the labels that each got.

#30 [E-29]: Create README.md
  README.md
Labels: documentation

#31 [E-5]: Made integration with API Kinopoisk, made integration between frontend and backend Co-authored-by: Zhurbina Marina <marina.zhurbina25@gmail.com>
  frontend/src/pages/home/home.jsx
  frontend/src/pages/selected/selected.jsx
  movie_app/.env
  movie_app/main/__pycache__/serializers.cpython-313.pyc
  movie_app/main/__pycache__/urls.cpython-313.pyc
  movie_app/main/__pycache__/views.cpython-313.pyc
  movie_app/main/serializers.py
  movie_app/main/urls.py
  movie_app/main/views.py
  movie_app/movie_app/__pycache__/settings.cpython-313.pyc
  movie_app/movie_app/settings.py
Labels: Frontend, Backend

#33 [E-24]: Made function of like/dislike. Made JWT Co-authored-by: Zhurbina Marina <marina.zhurbina25@gmail.com>
  frontend/src/App.jsx
  frontend/src/components/registrationModal/registrationModal.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/registration/registration.jsx
  frontend/src/services/auth.js
  movie_app/.env
  movie_app/db.sqlite3
  movie_app/main/__pycache__/serializers.cpython-313.pyc
  movie_app/main/__pycache__/urls.cpython-313.pyc
  movie_app/main/__pycache__/views.cpython-313.pyc
  movie_app/main/migrations/0001_initial.py
  movie_app/main/migrations/0002_alter_user_options_alter_user_table.py
  movie_app/main/migrations/0002_initial.py
  movie_app/main/migrations/0003_alter_user_movies.py
  movie_app/main/migrations/__pycache__/0001_initial.cpython-313.pyc
  movie_app/main/migrations/__pycache__/0002_alter_user_options_alter_user_table.cpython-313.pyc
  movie_app/main/migrations/__pycache__/0002_initial.cpython-313.pyc
  movie_app/main/migrations/__pycache__/0003_alter_user_movies.cpython-313.pyc
  movie_app/main/urls.py
  movie_app/main/views.py
  movie_app/movie_app/__pycache__/settings.cpython-313.pyc
  movie_app/movie_app/__pycache__/urls.cpython-313.pyc
  movie_app/movie_app/settings.py
  movie_app/movie_app/urls.py
  movie_app/selected/__pycache__/models.cpython-313.pyc
  movie_app/selected/__pycache__/urls.cpython-313.pyc
  movie_app/selected/__pycache__/views.cpython-313.pyc
  movie_app/selected/migrations/0001_initial.py
  movie_app/selected/migrations/__pycache__/0001_initial.cpython-313.pyc
  movie_app/selected/models.py
  movie_app/selected/urls.py
  movie_app/selected/views.py
Labels: Frontend, Backend

#35 [E-34]: Made full realization of registration with integration with backend. Made registration error output. Made User in admin
  frontend/.gitignore
  frontend/src/components/registrationModal/registrationModal.css
  frontend/src/components/registrationModal/registrationModal.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/registration/registration.jsx
  frontend/src/services/auth.js
  movie_app/.gitignore
  movie_app/db.sqlite3
  movie_app/main/__pycache__/admin.cpython-313.pyc
  movie_app/main/__pycache__/models.cpython-313.pyc
  movie_app/main/__pycache__/urls.cpython-313.pyc
  movie_app/main/__pycache__/views.cpython-313.pyc
  movie_app/main/admin.py
  movie_app/main/migrations/__pycache__/0001_initial.cpython-313.pyc
  movie_app/main/migrations/__pycache__/0002_initial.cpython-313.pyc
  movie_app/main/urls.py
  movie_app/main/views.py
  movie_app/movie_app/__pycache__/settings.cpython-313.pyc
  movie_app/movie_app/__pycache__/urls.cpython-313.pyc
  movie_app/movie_app/settings.py
  movie_app/selected/__pycache__/models.cpython-313.pyc
  movie_app/selected/__pycache__/urls.cpython-313.pyc
  movie_app/selected/__pycache__/views.cpython-313.pyc
  movie_app/selected/migrations/__pycache__/0001_initial.cpython-313.pyc
Labels: Frontend, Backend

#38 [E-37]: Requirements.txt file created
  movie_app/requirements.txt
Labels: Backend

#40 [E-39]: Made a function to display user's selected movies according to database. Changed error in profileModal in selected page
  frontend/src/pages/selected/selected.css
  frontend/src/pages/selected/selected.jsx
  movie_app/db.sqlite3
  movie_app/selected/__pycache__/admin.cpython-313.pyc
  movie_app/selected/admin.py
Labels: Frontend

#44 [E-43]: Edit a function of logout from profileModal
  frontend/src/App.jsx
  frontend/src/components/profileModal/profileModal.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/selected/selected.jsx
Labels: Frontend

#45 [E-21]: Made a function of deleting selected films
  frontend/src/pages/selected/selected.jsx
  movie_app/db.sqlite3
  movie_app/selected/__pycache__/urls.cpython-313.pyc
  movie_app/selected/__pycache__/views.cpython-313.pyc
  movie_app/selected/urls.py
  movie_app/selected/views.py
Labels: Frontend, Backend

#47 [E-46]: Optimized movie loading speed with caching and preloading
  dump.rdb
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.jsx
  movie_app/db.sqlite3
  movie_app/main/__pycache__/views.cpython-313.pyc
  movie_app/main/views.py
  movie_app/movie_app/__pycache__/settings.cpython-313.pyc
  movie_app/movie_app/settings.py
  movie_app/selected/__pycache__/urls.cpython-313.pyc
  movie_app/selected/__pycache__/views.cpython-313.pyc
Labels: documentation, Backend

#50 [E-23]: Made a function of description on the main page
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.jsx
  movie_app/db.sqlite3
Labels: Frontend
